<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>02_Itemlist</title>
</head>
<body>
    <header>
    </header>
    <section>
        
        <!--Table datalist-->
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th ng-click="sortData('Image')">Image</th>
                    <th ng-click="sortData('Brand')">Brand</th>
                    <th ng-click="sortData('Model')">Model</th>
                    <th ng-click="sortData('Seatingcapacity')">Seatingcapacity</th>
                    <th ng-click="sortData('Year')">Year</th>
                    <th ng-click="sortData('Area')">Area</th>
                    <th ng-click="sortData('Color')">Color</th>
                    <th ng-click="sortData('Design')">Design</th>
                    <th ng-click="sortData('Price')">Price</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="data in database | filter: txtSearch | orderBy: sort.cot: sort.descending">
                    <th> <img src="{{data.Image}}" width="200"></th>
                    <th ng-click="fillInputs(data)">{{data.Brand}}</th>
                    <th ng-click="fillInputs(data)">{{data.Model}}</th>
                    <th ng-click="fillInputs(data)">{{data.Seatingcapacity}}</th>
                    <th ng-click="fillInputs(data)">{{data.Year}}</th>
                    <th ng-click="fillInputs(data)">{{data.Area}}</th>
                    <th ng-click="fillInputs(data)">{{data.Color}}</th>
                    <th ng-click="fillInputs(data)">{{data.Design}}</th>
                    <th ng-click="fillInputs(data)">{{data.Price}}</th>
                </tr>
            </tbody>
        </table>
    </section>
    <footer></footer>
</body>
</html>
